<!-- My CT Target -->
<div *ngIf="data">
		<h3>My CT Target Records</h3>
		<!-- ng-bootstrap: Tab -->
		<ngb-tabset>				
				<ngb-tab *ngIf="SP1">
						<template ngbTabTitle>{{SP1.name}}</template>
						<template ngbTabContent>
								<div class="table-responsive">
										<table class="table table-striped">
												<thead>
														<tr>
																<th>{{SP1.name}}[{{SP1.unit}}]</th>
																<th *ngFor="let val of targetRecords">{{val}}</th>
														</tr>
												</thead>
												<tbody>
														<tr *ngFor="let record of data">
																<td scope="row">{{record.itemName}}</td>
																<td *ngFor="let val of record.values">{{val}}</td>
														</tr>
												</tbody>
										</table>
								</div>
						</template>
				</ngb-tab>
				<ngb-tab *ngIf="SP2">
						<template ngbTabTitle>{{SP2.name}}</template>
						<template ngbTabContent>
								<div class="table-responsive">
										<table class="table table-striped">
												<thead>
														<tr>
																<th>{{SP2.name}}[{{SP2.unit}}]</th>
																<th *ngFor="let val of targetRecords">{{val}}</th>
														</tr>
												</thead>
												<tbody>
														<tr *ngFor="let record of data">
																<td scope="row">{{record.itemName}}</td>
																<td *ngFor="let val of record.values">{{val}}</td>
														</tr>
												</tbody>
										</table>
								</div>
						</template>
				</ngb-tab>
		</ngb-tabset>
</div>
