<nav class="navbar navbar-full navbar-dark bg-inverse">
		<a class="navbar-brand" href="#">T.A.F. Data</a>
		<ul class="nav navbar-nav float-xs-right">
				<!-- PC用: リンク -->
				<li class="nav-item hidden-sm-down">
						<a class="nav-link" routerLink="/mypage">マイページ</a>
				</li>
				<li class="nav-item hidden-sm-down">
						<a class="nav-link" routerLink="/overview">分析</a>
				</li>
				<li class="nav-item hidden-sm-down">
						<a class="nav-link" routerLink="/team">チーム&ランキング</a>
				</li>
				<li class="nav-item hidden-sm-down">
						<a class="nav-link" routerLink="/login">Login</a>
				</li>
				<!-- スマホ用: Dropdown -->
				<li ngbDropdown class="nav-item dropdown hidden-md-up">
						<button class="btn btn-outline-secondary" id="dropdownMenu1" ngbDropdownToggle>メニュー</button>
						<div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
								<a class="dropdown-item" routerLink="/mypage">マイページ</a>
								<a class="dropdown-item" routerLink="/overview">分析</a>
								<a class="dropdown-item" routerLink="/team">チーム&ランキング</a>
								<a class="dropdown-item" routerLink="/login">Login</a>
						</div>
				</li>
		</ul>
</nav>

<!-- Main Container
--------------------------------------------------->
<div class="container-fluid py-1">
		<router-outlet></router-outlet>
</div>

<!-- Footer
-------------------------------------------------->
<div class="row taf-black-back">
		<div class="col-sm-12">
				<div class="taf-logo-footer">
						<div class="text-xs-center">
								<span class="taf-subtitle">全てのアスリートにデータの力を</span>
								<h1 class="taf-title">T.A.F. Data</h1>
						</div>
				</div>
		</div>
</div>
