<!-- チーム・ランキングページ -->
<nav class="breadcrumb">
		<a class="breadcrumb-item" routerLink="/login">Login</a>
		<span class="breadcrumb-item active">Team&Rangking</span>
</nav>

<div class="row mb-1">
		<div class="col-xs-12">
				<h2>Team&Ranking Page</h2> 
		</div>
</div>
<!-- チームメンバーのスコア一覧 -->
<div class="row mb-1">
		<div class="col-xs-12">
				<div class="card">
						<div class="card-block">
								<div class="row">
										<div class="col-xs-6">
												<h6 class="card-subtitle text-muted">チームメンバーのスコア一覧表</h6>
												<h4 class="card-title">{{selectedTeam.name}}</h4>
										</div>
										<div class="col-xs-6">
												<!-- チーム選択 -->
												<div ngbDropdown class="d-inline-block w-100">
														<button class="btn btn-outline-primary btn-block" id="dropdownMenu1" ngbDropdownToggle>チーム選択</button>
														<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
																<button *ngFor="let team of teams" class="dropdown-item" (click)="changeTeam(team.id)">{{team.name}}</button>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="card-block">
								<div *ngIf="userListMen">
										<h5>男子</h5>
										<app-ct-score-table [userList]="userListMen.list" [sex]="userListMen.sex"></app-ct-score-table>
								</div>
								<div *ngIf="userListWomen">
										<h5>女子</h5>
										<app-ct-score-table [userList]="userListWomen.list" [sex]="userListMen.sex"></app-ct-score-table>
								</div>
						</div>
				</div>
		</div>
</div>

<!-- ランキング -->
<div class="row mb-1">
		<div class="col-xs">
				<app-ranking-page [user]="user"></app-ranking-page>
		</div>
</div>


<!-- 戻るボタン -->
<div class="row">
		<div class="col-xs-12">
				<button class="btn btn-default" (click)="goBack()">Back</button>
		</div>
</div>
