<!-- CT Meta Table Component -->
<div>
		<div class="table-responsive">
				<table class="table table-striped">
						<thead *ngIf="thead">
								<tr>
										<th style="white-space: nowrap;">CT種目</th>
										<th *ngFor="let val of thead" style="white-space: nowrap;">{{val.head}}</th>
								</tr>
						</thead>
						<tbody *ngIf="tbody">
								<tr *ngFor="let record of tbody">
										<th scope="row" class="white-space: nowrap;">{{record.item.name}}</th>
										<td *ngFor="let val of record.values">{{val | zeroToHyphen }}</td>
								</tr>
						</tbody>
				</table>
		</div>
</div>
