<!-- CT Score Table Component -->
<div *ngIf="users">
		<h2>CT スコア一覧</h2>
		<div class="table-responsive">
				<table class="table table-striped">
						<thead>
								<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Score</th>
										<th>Rank(総合)</th>
										<th>Rank(専門1)</th>
								</tr>
						</thead>
						<tbody>
								<tr *ngFor="let user of users">
										<th scope="row">{{user.id}}</th>
										<td>{{user.name}}</td>
										<td>{{user.marks}}</td>
										<td>{{user.marks}}</td>
										<td>{{user.marks}}</td>
								</tr>
						</tbody>
				</table>
		</div>
</div>
