<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/login">Login</a>
  <a class="breadcrumb-item" routerLink="/mypage">MyPage</a>
  <span class="breadcrumb-item active" *ngIf="user">{{ user.name }}</span>
</nav>
<div class="row mb-1">
		<div class="col-xs-12">
				<h2>MyPage</h2>
		</div>
</div>
<div class="row mb-1">
		<div class="col-xs-12">
				<!-- ユーザー情報 -->
				<div *ngIf="user">
						<app-my-summary [user]="user" [record]="records"></app-my-summary>
				</div>
		</div>
</div>

<!-- CTの結果 -->
<div class="row mb-2" *ngIf="data">
		<div class="col-xs-12">
				<h3>スコア<button class="btn btn-sm btn-info" (click)="open(contentScore)">?</button></h3>
				<app-ct-score-chart [data]="data"></app-ct-score-chart>


				<!-- Modal Template -->
				<template ngbModalContainer #contentScore let-c="close" let-d="dismiss">
						<div class="modal-header">
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">スコア</h4>
						</div>
						<div class="modal-body">
								<h3><span class="tag tag-success">Concept</span>スコアとは？</h3>
								<p>コントロールテストの記録を得点化したものが「スコア」です。混成種目の得点に似たものだと考えてください。</p>
								<p>スコアは記録の偏差値を元に計算されます。偏差値70が1000点かつ偏差値0が0点となるように設定されています。偏差値70(スコア1000点)は集団の上位2.3%に入ることを意味します。</p>
								

						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
						</div>
				</template>
				
		</div>
</div>
<div class="row mb-1" *ngIf="records">
		<div class="col-xs-12">
				<h3 *ngIf="user">{{user.name}}さんの記録</h3>
				<app-my-ct-score-table [records]="records" [user]="user"></app-my-ct-score-table>
		</div>
</div>


<!-- CT 目標値 -->
<div class="row mb-1" *ngIf="user">
		<div class="col-md-6">
				<h3>目標記録<button class="btn btn-sm btn-info" (click)="open(contentTarget)">?</button></h3>
				<app-my-ct-target [user]="user" ></app-my-ct-target>

				<!-- Modal Template -->
				<template ngbModalContainer #contentTarget let-c="close" let-d="dismiss">
						<div class="modal-header">
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">目標記録</h4>
						</div>
						<div class="modal-body">
								<h3><span class="tag tag-success">Concept</span>目標記録の意味</h3>
								<p>各専門種目においてある記録を出すために必要とされるコントロールテスト種目の記録です。</p>

								<h3><span class="tag tag-success">Method</span>計算方法</h3>
								<p>線形回帰分析の一つである最小自乗法を利用しています。詳しくは以下のページをご覧ください。</p>
								<a href="https://ja.wikipedia.org/wiki/%E6%9C%80%E5%B0%8F%E4%BA%8C%E4%B9%97%E6%B3%95">wikipedia: 最小自乗法</a>
								
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
						</div>
				</template>
		</div>
		<div class="col-md-6" *ngIf="rivalList">
				<h3>ライバル<button class="btn btn-sm btn-info" (click)="open(contentRivals)">?</button></h3>
				<app-my-rivals [user]="user" [rivalList]="rivalList" ></app-my-rivals>

				<!-- Modal Template -->
				<template ngbModalContainer #contentRivals let-c="close" let-d="dismiss">
						<div class="modal-header">
								<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">ライバル</h4>
						</div>
						<div class="modal-body">
								<h3><span class="tag tag-success">Concept</span>ライバル</h3>
								<p>あなたの専門種目の記録が近い人のコントロールテストの結果をまとめました。</p>								
								
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
						</div>
				</template>
		</div>
</div>

<!-- 戻るボタン -->
<button class="btn btn-default" (click)="goBack()">Back</button>
